<footer class="site-footer">
  <a class="brand" href="/" aria-label="Battram Associates home">
    <img class="mono" src="/assets/mono-ba.png" alt="" height="56">
    <span class="wordmark">
      <span class="name">BATTRAM<br>ASSOCIATES</span>
      <span class="tag">Surveying&nbsp;&nbsp;|&nbsp;&nbsp;Heritage&nbsp;&nbsp;|&nbsp;&nbsp;Architectural Design</span>
    </span>
  </a>
  <div class="foot-right">
    <nav aria-label="Footer">
      <a href="/surveying/">Surveying</a>
      <a href="/heritage/">Heritage</a>
      <a href="/design/">AE Design Studio</a>
      <a href="/projects/">Projects</a>
      <a href="/about/">About</a>
      <a href="/contact/">Contact</a>
      <a href="/privacy/">Privacy</a>
    </nav>
    <p>© {{year}} Battram Associates Ltd</p>
  </div>
</footer>
